<h1>Listing Maintenance Schedules</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_schedules.each do |maintenance_schedule| %>
      <tr>
        <td><%= maintenance_schedule %></td>
        <td><%= link_to 'Show', maintenance_schedule %></td>
        <% if current_power.updatable_maintenance_schedule?(maintenance_schedule) %>
        <td><%= link_to 'Edit', edit_maintenance_schedule_path(maintenance_schedule) %></td>
        <% end %>
        <% if current_power.destroyable_maintenance_schedule?(maintenance_schedule) %>
        <td><%= link_to 'Destroy', maintenance_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_maintenance_schedule_path, multipart: true, class: 'form-inline' do %>
   <%= file_field_tag :file, class: 'form-control' %>
   <%= submit_tag "Import", class: 'btn btn-submit' %>
<% end %>

<br>

<%= link_to 'New Maintenance schedule', new_maintenance_schedule_path %>
