<% labor = 0 %>
<% sales = 0 %>
<table class="table table-striped" style="display:block">
  <% service.performed_maintenances.each do |pm| %>
  <tr><th colspan=4><%= pm.maintenance.item %></th></tr>
  <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;Labor</th><td>$<%= pm.laborRate %> / hour</td><td><%= pm.laborHours %> hours</td><td>$<%= pm.laborRate * pm.laborHours %></td></tr> <% labor += pm.laborRate * pm.laborHours %>
  <% pm.performed_maintenance_parts.each do |pmp| %>
  <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;<%= pmp.part.description %></th><td>$<%= pmp.cost %></td><td><span class="label label-info">TODO</span></td><td>$<%= pmp.cost %></td></tr><% sales += pmp.cost %>
  <% end %>
  <% end %>
  <% if service.tax %>
  <tr><th colspan=2>Tax</th><td><%= service.tax %>%</td><td>$<%= service.tax / 100 * sales %></td></tr><% tax = service.tax / 100 * sales %>
  <% end %>
  <tr><th colspan=3>Total</th><td>$<%= labor + sales + tax %></td></tr>
</table>
