<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= @service.location %> <span class="pull-right"><%= @service.date %></span></strong>
  </div>
  <div class="panel-body">
    <%= render partial: "table", locals: {service: @service} %>
  </div>
  <div class="panel-footer">
    <%= link_to @service.vehicle, vehicle_path(@service.vehicle) %>
    <span class="pull-right">Odometer: <%= @service.odometer %></span>
  </div>
</div>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
