<h1>Listing Parts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pn</th>
      <th>Description</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.pn %></td>
        <td><%= part.description %></td>
        <td><%= part.url %></td>
        <td><%= link_to 'Show', part %></td>
        <% if current_power.updatable_part?(part) %>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <% end %>
        <% if current_power.destroyable_part?(part) %>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
