<p>
  <strong>Pn:</strong>
  <%= @part.pn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @part.url %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
