<h1>Listing Fillups</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Odometer</th>
      <th>Gallons</th>
      <th>Ppg</th>
      <th>Brand</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fillups.order(odometer: :desc).each do |fillup| %>
      <tr>
        <td><%= link_to fillup.vehicle, vehicle_path(fillup.vehicle) %></td>
        <td><%= fillup.date %></td>
        <td><%= fillup.odometer %></td>
        <td><%= fillup.gallons %></td>
        <td><%= fillup.ppg %></td>
        <td><%= fillup.brand %></td>
        <td><%= fillup.grade %></td>
        <td><%= link_to 'Show', fillup %></td>
        <td><%= link_to 'Edit', edit_fillup_path(fillup) %></td>
        <td><%= link_to 'Destroy', fillup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fillup', new_fillup_path %>
