<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @vendor.name %>
    <% if @vendor.symbol %>
      <span class="pull-right"><%= @vendor.symbol %></span>
    <% end %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Payee</th>
	  <th>Memo</th>
	</tr>
      </thead>
      <tbody>
	<% @vendor.aliases.each do |a| %>
	  <tr>
	    <td><%= a.payee %></td>
	    <td><%= a.memo %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
    <strong><span class="label label-primary">tags</span></strong>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
    <%= link_to 'Back', vendors_path %>
  </div>
</div>
