<div class="panel panel-primary">
  <div class="panel-heading">Log in</div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "form-inline" }) do |f| %>
      <div class="form-group">
	<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
	<%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
	<%= f.submit "Log in", class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Forgot your password?', new_user_password_path %>
  </div>
</div>
