<h1>Listing Steps</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>Imagemd5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.text %></td>
        <td><%= step.imageMD5 %></td>
        <td><%= link_to 'Show', step %></td>
        <% if current_power.updatable_step?(step) %>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <% end %>
        <% if current_power.destroyable_step?(step) %>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %>
