<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @step.text %>
</p>

<p>
  <strong>Imagemd5:</strong>
  <%= @step.imageMD5 %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
