<p id="notice"><%= notice %></p>

<h1>Listing Canonical Vehicles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canonical_vehicles.each do |canonical_vehicle| %>
      <tr>
        <td><%= canonical_vehicle.make %></td>
        <td><%= canonical_vehicle.model %></td>
        <td><%= canonical_vehicle.year %></td>
        <td><%= link_to 'Show', canonical_vehicle %></td>
        <td><%= link_to 'Edit', edit_canonical_vehicle_path(canonical_vehicle) %></td>
        <td><%= link_to 'Destroy', canonical_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Canonical vehicle', new_canonical_vehicle_path %>
