<div class="row">
   <% current_user.vehicles.sort {|a,b| a.updated_at <=> b.updated_at}.each do |vehicle| %>
      <div class="col-sm-4">
	 <div class="thumbnail">
	    <%= link_to image_tag(vehicle_image_path(vehicle)), vehicle %>
	    <div class="caption">
	       <%= vehicle.canonical_vehicle.year %> <%= vehicle.canonical_vehicle.make %> <%= vehicle.canonical_vehicle.model %><br>
	       [ <%= link_to 'Show', vehicle %> | <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %> ]
	    </div>
	 </div>
      </div>
   <% end %>
</div>
<%= form_for(:vehicle, url: vehicles_path, html: { :class => "form-inline" }) do |f| %>
   <%= f.select :canonical_vehicle_id, options_for_select(CanonicalVehicle.order(:year, :make, :model).map{|s|[s, s.id]}) %>
   <%= f.text_field(:vin, { :class => 'form-control', :placeholder => 'vin' }) %>
   <%= f.submit("Add New", { :class => 'btn btn-default' }) %>
   <%= f.file_field(:image_file, { :style => 'padding-top:1em' }) %>
<% end %>
