<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @vehicle.canonical_vehicle.year %> <%= @vehicle.canonical_vehicle.make %> <%= @vehicle.canonical_vehicle.model %> <% if @vehicle.vin != "" %> (<%= @vehicle.vin %>) <% end %>
    <%= link_to content_tag(:span, nil, { :class => 'glyphicon glyphicon-edit pull-right', :style => 'color:white' }), edit_vehicle_path(@vehicle) %>
  </div>
  <div class="panel-body">
    <h3>Upcoming Service</h3>
    <span class="label label-primaly"><%= @vehicle.current_odometer %></span>
    <table class="table table-striped" style="display:block; overflow:auto; max-height: 10em">
      <tbody>
        <% @vehicle.maintenances.sort { |a,b| a.miles_until_due(@vehicle) <=> b.miles_until_due(@vehicle) }.each do |maintenance| %>
        <tr>
          <td data-toggle="modal" data-target="#maintenance-<%= maintenance.id %>"><%= maintenance.item %></td>
          <td<% if maintenance.latest_performed_maintenance(@vehicle) %> data-toggle="modal" data-target="#service-<%= maintenance.latest_performed_maintenance(@vehicle).service.id %>"<% end %>>
            <% if maintenance.months_until_due(@vehicle).is_a? Integer %>
            <% if maintenance.months_until_due(@vehicle) <= 0 %>
            <span class="label label-danger">
              <%= -maintenance.months_until_due(@vehicle) %> months overdue
            <% else %>
            <span class="label label-success">
              <%= maintenance.months_until_due(@vehicle) %> months remaining
            <% end %>
            <% elsif maintenance.months_until_due(@vehicle).is_a? String %>
            <span class="label label-success"><%= maintenance.months_until_due(@vehicle) %></span>
            <% else %>
            <span class="label label-danger">Never Performed
            <% end %>
            </span>
          </td>
          <td<% if maintenance.latest_performed_maintenance(@vehicle) %> data-toggle="modal" data-target="#service-<%= maintenance.latest_performed_maintenance(@vehicle).service.id %>"<% end %>>
            <% if maintenance.miles_until_due(@vehicle) <= 0 %>
            <span class="label label-danger">
              <%= -maintenance.miles_until_due(@vehicle) %> miles overdue
            <% else %>
            <span class="label label-success">
              <%= maintenance.miles_until_due(@vehicle) %> miles remaining
            <% end %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Mileage History</h3>
    <table class="table table-striped" style="display:block; overflow:auto; max-height: 20em">
      <thead>
        <tr>
          <th>Date</th>
          <th>Odometer</th>
          <th>Brand</th>
          <th>Grade</th>
          <th>Gallon</th>
          <th>PPG</th>
          <th>Cost</th>
          <th>MPG</th>
        </tr>
      </thead>
      <tbody>
        <%= form_for(:fillup, url: vehicle_fillup_path) do |f| %>
        <tr>
          <td><%= f.date_select(:date, :class => 'form-control', :placeholder => 'date') %></td>
          <td><%= f.number_field(:odometer, :class => 'form-control', :placeholder => 'odometer') %></td>
          <td><%= f.text_field(:brand, :class => 'form-control', :placeholder => 'brand') %></td>
          <td><%= f.text_field(:grade, :class => 'form-control', :placeholder => 'grade') %></td>
          <td><%= f.number_field(:gallons, :class => 'form-control', :placeholder => 'gallons', :step => 0.001) %></td>
          <td><%= f.number_field(:ppg, :class => 'form-control', :placeholder => 'ppg', :step => 0.001) %></td>
          <td colspan=2><%= f.submit("Fillup", :class => 'btn btn-default') %></td>
        </tr>
        <% end %>
        <% @vehicle.fillups.sort { |a,b| a.date <=> b.date }.reverse.each do |fillup| %>
        <tr>
          <td><%= fillup.date %></td>
          <td><%= fillup.odometer %></td>
          <td><%= fillup.brand %></td>
          <td><%= fillup.grade %></td>
          <td><%= fillup.gallons %></td>
          <td>$<%= fillup.ppg %></td>
          <td>$<%= number_with_precision fillup.ppg * fillup.gallons, :precision => 2 %></td>
          <td>
            <% if @last %>
            <%= number_with_precision (@last.odometer - fillup.odometer) / @last.gallons, :precision => 0 %>
            <% end %>
          </td>
        </tr>
        <% @last = fillup %>
        <% end %>
      </tbody>
    </table>
    <h3>Service History</h3>
    <table class="table table-striped table-hover" style="display:block; overflow:auto; max-height: 20em">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Odometer</th>
        </tr>
      </thead>
      <tbody>
        <% @vehicle.services.sort { |a,b| a.date <=> b.date }.reverse.each do |service| %>
        <tr data-toggle="modal" data-target="#service-<%= service.id %>">
          <td><%= service.date %></td>
          <td><%= service.location %></td>
          <td><%= service.odometer %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% @vehicle.maintenances.each do |maintenance| %>
    <div class="modal fade" id="maintenance-<%= maintenance.id %>">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title"><%= maintenance.item %></h3>
          </div>
          <div class="modal-body">
            <%= render partial: "maintenances/table", locals: {maintenance: maintenance} %>
            <%= render partial: "maintenances/steps", locals: {maintenance: maintenance} %>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>

    <% @vehicle.services.each do |service| %>
    <div class="modal fade" id="service-<%= service.id %>">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title"><%= service.location %></h3>
          </div>
          <div class="modal-body">
            <%= render partial: "services/table", locals: {service: service} %>
          </div>
          <div class="modal-footer">
            <span class="label label-primary"><%= service.odometer %></span></h3>
            <span class="label label-primary"><%= service.date %></span></h3>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>
  </div>

  <br>
  <div class="panel-footer">
    <%= form_tag import_vehicle_fillups_path, multipart: true, class: 'form-inline pull-right' do %>
    <%= file_field_tag :file, class: 'form-control' %>
    <%= submit_tag "Import", class: 'btn btn-submit' %>
    <% end %>
    <%= link_to content_tag(:span, nil, :class => 'glyphicon glyphicon-download-alt', :title => 'Download (JSON)'), vehicle_path(:format => 'json') %>
  </div>
</div>
