<div class="panel panel-primary">
  <div class="panel-heading">
    <strong><%= @account.institution %>: <%= @account.name %></strong>
    <%= link_to content_tag(:span, nil, { :class => 'glyphicon glyphicon-edit pull-right', :style => 'color:white' }), edit_account_path %>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Transactions</a></li>
    </ul>
    <br>
    <table class="table table-striped">
      <% @account.transactions.sort { |a,b| a.date <=> b.date }.reverse.each do |transaction| %>
	<tr>
	  <td><%= transaction.date %></td>
	  <td><%= transaction.action %></td>
	  <td><% if transaction.vendor %><%= link_to transaction.vendor.symbol, vendor_path(transaction.vendor) %><% end %></td>
	  <td><%= transaction.price %></td>
	  <td><%= transaction.quantity %></td>
	  <td><%= transaction.commission %></td>
	  <td><%= transaction.memo %></td>
	</tr>
      <% end %>
      <%= form_for :transaction, url: transactions_path, html: { class: 'form-inline' } do |f| %>
	<tr>
	  <%= f.hidden_field(:account_id, value: @account.id) %>
	  <td><%= f.date_select(:date, { class: 'form-control', placeholder: 'date' }) %></td>
	  <td><%= f.text_field(:action, { class: 'form-control', placeholder: 'action' }) %></td>
	  <td><%= f.select :vendor_id, options_for_select(Vendor.all.map{|s|[s.name, s.id]}), { class: 'form-control', placeholder: 'date' } %></td>
	  <td><%= f.number_field :price, step: '0.0001', class: 'form-control', placeholder: 'price' %></td>
	  <td><%= f.number_field :quantity, step: '0.0001', class: 'form-control', placeholder: 'quantity' %></td>
	  <td><%= f.number_field :commission, step: '0.01', class: 'form-control', placeholder: 'commission' %></td>
	  <td><%= f.text_area(:memo, { class: 'form-control', placeholder: 'memo' }) %></td>
	  <td><%= f.submit('Add New', { class: 'btn btn-default' }) %>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="panel-footer">
    <%= form_tag import_account_transactions_path, multipart: true, class: 'form-inline' do %>
      <%= file_field_tag :file, class: 'form-control' %>
      <%= submit_tag "Import", class: 'btn btn-submit' %>
    <% end %>
  </div>
</div>
